@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

/* base styles */

* {
  box-sizing: border-box;
}

body {
  font-family: "Cutive Mono", monospace;
  font-size: 23px;
  background-color: #fdfdfd;
}

#container {
  max-width: 1300px;
  /* max-width: 705px; */
  margin: 0 auto;
}

/* header styles */

header {
  text-align: center;
  padding: 90px 0 28px 10px;
  line-height: 30px;
  letter-spacing: 10px;
}

/* main styles */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.colorblock {
  width: 30px;
  height: 30px;
  margin: 15px;
  position: relative;
}

/* tooltip styles */

.tooltip {
  visibility: hidden;
  width: auto;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 5px 5px 5px;
  border-radius: 6px;
  border: 1px solid black;
  font-size: 16px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 5px;
}

a:hover .tooltip {
  visibility: visible;
}

a:active .tooltip {
  visibility: visible;
}

/* responsive styles */

@media screen and (max-width: 1370px) {
  main {
    padding: 0 65px 20px 65px;
  }
}

@media screen and (max-width: 740px) {
  header {
    text-align: center;
    padding: 90px 30px 28px 30px;
    line-height: 30px;
  }
  main {
    padding: 0 10px 20px 10px;
  }
  a:hover .colorblock {
    position: static;
  }
  a:hover .tooltip {
    visibility: visible;
    top: 20px;
    left: 20px;
  }
  a:active .colorblock {
    position: static;
  }
  a:active .tooltip {
    visibility: visible;
    top: 20px;
    left: 20px;
  }
}
