@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
/* font-family: "Cutive Mono", monospace; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
/* font-family: 'Boogaloo', cursive; */

/* base styles */

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  background-color: #fdfdfd;
  margin: 0 50px 0 50px;
}

#container {
  max-width: 1300px;
  /* max-width: 705px; */
  margin: 20px auto 20px auto;
  padding: 0 20px 0 20px;
  border: 1px solid #363f4c;
  min-height: calc(100vh - 40px);
  background-color: #fdfdfd;
}

/* header styles */

header {
  text-align: left;
  padding: 90px 20px 35px 21px;
  line-height: 30px;
  letter-spacing: 9px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 21px;
  text-transform: uppercase;
  color: #363f4c;
}

header > span {
  font-size: 24px;
}

header > span:nth-of-type(2) {
  font-size: 30px;
  font-weight: 200;
}

/* nav styles */

#container > a {
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  color: #e5d6b1;
  max-width: 150px;
  display: inline-block;
  margin: 0;
}

#container > a:nth-of-type(1) {
  margin-left: 21px;
}

#container > a:nth-of-type(2) {
  margin-left: 6px;
}

#container > a:nth-of-type(3) {
  margin-left: 6px;
}

#container > a > p {
  border: 1px solid #dbdbdb;
  /* border-radius: 13% 31% 22% 50%; */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  padding-left: 11px;
}

#container a:nth-of-type(1) p {
  color: #dbdbdb;
  font-weight: 400;
}

#container > a:nth-of-type(1):hover p {
  color: #f90975;
  font-weight: 400;
  border: 1px solid #f90975;
}

#container > a:nth-of-type(2) p {
  color: #dbdbdb;
  font-weight: 400;
}

#container > a:nth-of-type(2):hover p {
  color: #00b5e2;
  font-weight: 400;
  border: 1px solid #00b5e2;
}

#container > a:nth-of-type(3) p {
  color: #dbdbdb;
  font-weight: 400;
}

#container > a:nth-of-type(3):hover p {
  color: #f7f14f;
  font-weight: 400;
  border: 1px solid #f7f14f;
}

#container > a:nth-of-type(1):hover ~ main .male,
#container > a:nth-of-type(1):hover ~ main .other,
#container > a:nth-of-type(1):active ~ main .male,
#container > a:nth-of-type(1):active ~ main .other {
  display: none;
}

#container > a:nth-of-type(2):hover ~ main .female,
#container > a:nth-of-type(2):hover ~ main .other,
#container > a:nth-of-type(2):active ~ main .female,
#container > a:nth-of-type(2):active ~ main .other {
  display: none;
}

#container > a:nth-of-type(3):hover ~ main .colorblock,
#container > a:nth-of-type(3):active ~ main .colorblock {
  display: block;
}

/* main styles */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 65px 0 65px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.colorblock {
  width: 45px;
  height: 45px;
  margin: 15px 50px 15px 50px;
  position: relative;
  border-radius: 13% 31% 22% 50% / 13% 31% 22% 50%;
}

/* tooltip styles */

.tooltip {
  visibility: hidden;
  width: auto;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  border: 1px solid black;
  font-size: 16px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  line-height: 23px;
}

main a:hover .tooltip {
  visibility: visible;
}

main a:active .tooltip {
  visibility: visible;
}

/* responsive styles */

@media screen and (max-width: 1370px) {
  main {
    padding: 0 65px 20px 65px;
  }
  .colorblock {
    margin: 15px 30px 15px 30px;
  }
}

@media screen and (max-width: 740px) {
  body {
    margin: 0 10px 0 10px;
  }
  header {
    text-align: left;
    padding: 90px 21px 28px 21px;
    line-height: 30px;
  }
  main {
    padding: 0 10px 20px 10px;
  }
  .colorblock {
    margin: 15px 15px 15px 15px;
  }
  a:hover .colorblock {
    position: static;
  }
  a:hover .tooltip {
    visibility: visible;
    top: 20px;
    left: 20px;
  }
  a:active .colorblock {
    position: static;
  }
  a:active .tooltip {
    visibility: visible;
    top: 20px;
    left: 20px;
  }
}
